// COLORS
$color_azul: #100146;
$color_blanco: #fff;

$color_naranja: #F7931E;
$color_naranja_claro: #FFDCBA;

$color_rojo: #FF3F4C;
$color_rojo_claro: #FF3F4C;

$color_morado: #5C52B5;
$color_morado_claro: #5C52B5;

$color_acuamarin: #00D0B6;
